html,
body {
    font-size: 20px;
    text-align: justify;
    padding: 0;
    margin: 0;
}
body {
    padding: 0 1%;
}
.comment.noncollapsed.score-hidden.stickied.thing,
.entry .flat-list.buttons >  :not(.first),
.entry .title .domain,
.infobar.commentsignupbar,
.linkflairlabel,
.midcol.unvoted,
.panestack-title,
.duration-overlay,
.rank,
.score.dislikes,
.dismiss-pinnable.c-close.c-hide-text,
.score.likes,
.share,
.media-preview.no-constraints-when-pinned,
.tagline .flair,
.thing.linkflair.linkflair-flairot,
a.expand,
body.location_comments #mainMenu,
p.parent {
    display: none;
}
a.thumbnail.may-blank {
    display: block;
    width: 9%;
    line-height: 0;
    float: left;
}
a.thumbnail.may-blank > img {
    width: 100%;
    height: auto;
}
.entry.unvoted {
    display: block;
    vertical-align: top;
    width: 90%;
    margin-left: 1%;
    float: right;
}
div.thing {
    border-top: 1px dotted #777;
    padding: 1% 0;
}
.commentarea div.thing {
    padding: 0;
}
p {
    margin: 10px 0px;
}
.flat-list.buttons {
    margin: 0;
    padding: 0;
}
.entry .flat-list.buttons > .first {
    float: left;
    text-align: left;
    color: #777;
    font-size: 0.8em;
    list-style-type: none;
}
.commentarea .flat-list.buttons > .first {
    display: none;
}
.entry .flat-list.buttons > .first a {
    color: #777;
    font-weight: normal;
}
.child {
    /*border-top: 1px dotted #777;*/
    margin: 5px 0;
    padding-left: 10px;
}
.sitetable.nestedlisting > div.thing > .child {
    font-size: .9em;
}
.child .entry.unvoted {
    border-left: 1px dotted #777;
    padding-left: 1%;
}
.child p {
    margin: 5px 0;
}
.entry .title {
    margin-top: 0;
    margin-bottom: 10px;
}
a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}
.title a {
    margin: 0;
}
.dropdown.lightdrop,
.drop-choices.lightdrop {
    display: inline-block;
}
.entry.unvoted .expando.expando-uninitialized {
    clear: both;
}
.tabmenu {
    margin: 2% 0;
    padding: 0;
    text-align: center;
}
.tabmenu > li {
    display: inline-block;
    margin: 0 10px;
    text-transform: capitalize;
}
.tabmenu > li.selected a {
    font-weight: normal;
}
.menuarea a {
    padding: 0 5px;
}
.thing:not(.comment) .tagline {
    color: #777;
    font-size: 0.8em;
    text-align: right;
    float: right;
    margin: 0;
}
.thing .tagline a {
    color: inherit;
}
.thing.comment .tagline {
    color: #777;
    font-size: 0.9em;
    text-align: left;
    margin-left: 0;
}
.menuarea {
    border-top: 1px dotted #777;
    padding: 1% 0;
    font-size: .9em;
    text-align: center;
}
#mainUrl {
    border-top: 1px dotted #777;
    text-align: center;
    padding: 1% 0;
}
.clearleft {
    clear: both;
}
.nav-buttons {
    border-top: 1px dotted #777;
    padding: 1% 0;
    text-align: center;
}
.nav-buttons a {
    padding: 0 1%;
}
.commentarea .entry.unvoted {
    width: auto;
    margin: 0;
    float: none;
}
blockquote {
    font-style: italic;
}
#noresults {
    border-top: 1px dotted #777;
    margin: 0;
    text-align: center;
    padding: 2% 0;
}
.thing .tagline > a.submitter {
    color: #000;
}
.thing .tagline > .userattrs {
    margin-left: 5px;
}
img.preview {
    max-width: 100%;
    height: auto;
}